html, button, input, select, textarea {
    color: #444;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


header {
    height: 250px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px;
    border-radius: 4px;
}

ul{
    margin-top: inherit;
    list-style: none;
    float: left;

}

#wrapper {
    max-width: 900px;
    min-width: 320px;
    text-align: center;

}

h1{
    font-family: vortice-concept, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}


#imageprofile{
    margin-right: 37%;
    margin-top: 60px;
    position: absolute;
    height: 180px;
    width: 180px;
    float: right;
    border: solid 1px;
    border-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
    vertical-align: top;
    right: 0;
    top: 0;



}



#presentation {
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    
}


#experiences{
    margin-top: 30px;
    width: 40%;
    float: left;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
}

#competences{
    margin-top: 30px;
    width: 40%;
    float: right;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    margin-right: 5%;
}

#formation{
    margin-top: 30px;
    width: 40%;
    float: left;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 30px;
}



footer{
    width: 90%;
    height: 80px;
    border: solid 1px;
    border-radius: 4px;
    clear:both;
    margin-left: 5%;
    
}


