html, button, input, select, textarea {
    color: #444;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body{
    background-color: bisque;

}

header {
    height: 250px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px;
    border-radius: 4px;
}

ul{
    margin-top: inherit;
    list-style: none;
    float: left;

}

#wrapper {

    max-width: 900px;
    min-width: 320px;
    text-align: center;

}

h1{
    font-family: vortice-concept, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}


#imageprofile{
    margin-right: 20%;
    margin-top: 60px;
    position: absolute;
    height: 180px;
    width: 180px;
    float: right;
    border: solid 1px;
    border-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
    vertical-align: top;
    right: 0;
    top: 0;



}
#parg1,#parg2,#parg3,#par1,#par2{
    display:none;
}

dl{
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

dd , dt{
    display: inline-block;
    float: left;
}


#presentation {
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    
}


#experiences{
    margin-top: 30px;
    width: 40%;
    float: left;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
}

#competences{
    margin-top: 30px;
    width: 40%;
    float: right;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    margin-right: 5%;
}

#formation{
    margin-top: 30px;
    width: 40%;
    float: left;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 30px;
}

#langues{
    margin-top: 30px;
    width: 40%;
    float: right;
    margin-left: 5%;
    border: solid 1px;
    border-radius: 4px;
    margin-right: 5%;
    margin-bottom: 30px;
}



footer{
    width: 90%;
    height: 80px;
    border: solid 1px;
    border-radius: 4px;
    clear:both;
    margin-left: 5%;
    
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 15px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(31, 29, 29) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.vl {
    border-left: 6px solid  bisque;
    height: 25vw;
    margin-left: 1vw;
}
.vl2 {
    border-bottom: 6px solid bisque;
    width: 23vw;
    margin-left: 1vw;

}
.vll{
    transform: rotate(180deg);
}

